In [ ]:
# SHAHZAIB ANWAR S22-BCS-054
# ROLL NO SP22-BCS-054
# make dictionary whith some predefined data of followers saved values on lists
thisdict = {
    "followers" : ["10k", "1000k", "1k", "100k", "20k","200k", "900k", "25k", 500, "11k", "12k",
                   "13k", "14k", "15k", "16k", "17k", "18k", "19k", "20k", "21k"],
    # initalize some empty lists
    "users" : [],
    "plateform" : [],
    "likes_per_user" : [],
    "views" : [],
    "posts" : []
}

In [ ]:
# take input from the user
n=int(input("how many time you wanna input"))
# loop n times
for i in range(n):
  username = input("Enter your username: ")
  plateform = input("Enter your plateform: ")
  likes_per_user = (input("Enter your likes per user: "))
  views = (input("Enter your views: "))
  posts = (input("Enter your posts: "))
# use append method to attach at the end
  thisdict["users"].append(username)
  thisdict["plateform"].append(plateform)
  thisdict["likes_per_user"].append(likes_per_user)
  thisdict["views"].append(views)
  thisdict["posts"].append(posts)

how many time you wanna input20
Enter your username: shahzaib
Enter your plateform: instagram
Enter your likes per user: 2k
Enter your views: 3k
Enter your posts: 4
Enter your username: ali
Enter your plateform: twitter
Enter your likes per user: 4
Enter your views: 5k
Enter your posts: 7k
Enter your username: ahmed
Enter your plateform: tiktok
Enter your likes per user: 4k
Enter your views: 1k
Enter your posts: 2k
Enter your username: imran
Enter your plateform: tiktok
Enter your likes per user: 4
Enter your views: 5k
Enter your posts: 500k
Enter your username: arslan
Enter your plateform: youtube
Enter your likes per user: 500k
Enter your views: 600k
Enter your posts: 2k
Enter your username: nadir
Enter your plateform: facebook
Enter your likes per user: 4k
Enter your views: 9k
Enter your posts: 3k
Enter your username: danyal
Enter your plateform: 9k
Enter your likes per user: 200k
Enter your views: 500k
Enter your posts: 90k
Enter your username: qamar
Enter your plateform: 3k
Enter your likes per user: 5k
Enter your views: 1k
Enter your posts: 9k
Enter your username: nadeem
Enter your plateform: twitter
Enter your likes per user: 5k
Enter your views: 6k
Enter your posts: 7k
Enter your username: anas
Enter your plateform: instagram
Enter your likes per user: 3k
Enter your views: 1k
Enter your posts: 4k
Enter your username: muzamil
Enter your plateform: 4k
Enter your likes per user: 5k
Enter your views: 2
Enter your posts: 3k
Enter your username: shahruk
Enter your plateform: instagram
Enter your likes per user: 4k
Enter your views: 2k
Enter your posts: 3k
Enter your username: salman
Enter your plateform: 4k
Enter your likes per user: 5k
Enter your views: 6k
Enter your posts: 7k
Enter your username: babarazam
Enter your plateform: youtube
Enter your likes per user: 4k
Enter your views: 2k
Enter your posts: 6k
Enter your username: 8k
Enter your plateform: 9k
Enter your likes per user: 4k
Enter your views: 1k
Enter your posts: 6k
Enter your username: 8k
Enter your plateform: 9k
Enter your likes per user: 5k
Enter your views: 6k
Enter your posts: 7k
Enter your username: viratkohli
Enter your plateform: 7k
Enter your likes per user: 1k
Enter your views: 2k
Enter your posts: 3k
Enter your username: keader
Enter your plateform: 4k
Enter your likes per user: 5k
Enter your views: 7k
Enter your posts: 1k
Enter your username: altafhussain
Enter your plateform: tiktok
Enter your likes per user: 4k
Enter your views: 2k
Enter your posts: 6k
Enter your username: imrann
Enter your plateform: facebook
Enter your likes per user: 1k
Enter your views: 2k
Enter your posts: 3k

In [ ]:
# convert dictionaries into dataframes
import pandas as pd
df=pd.DataFrame(thisdict)
print(df)

   followers         users  plateform likes_per_user views posts
0        10k      shahzaib  instagram             2k    3k     4
1      1000k           ali    twitter              4    5k    7k
2         1k         ahmed     tiktok             4k    1k    2k
3       100k         imran     tiktok              4    5k  500k
4        20k        arslan    youtube           500k  600k    2k
5       200k         nadir   facebook             4k    9k    3k
6       900k        danyal         9k           200k  500k   90k
7        25k         qamar         3k             5k    1k    9k
8        500        nadeem    twitter             5k    6k    7k
9        11k          anas  instagram             3k    1k    4k
10       12k       muzamil         4k             5k     2    3k
11       13k       shahruk  instagram             4k    2k    3k
12       14k        salman         4k             5k    6k    7k
13       15k     babarazam    youtube             4k    2k    6k
14       16k            8k         9k             4k    1k    6k
15       17k            8k         9k             5k    6k    7k
16       18k    viratkohli         7k             1k    2k    3k
17       19k        keader         4k             5k    7k    1k
18       20k  altafhussain     tiktok             4k    2k    6k
19       21k        imrann   facebook             1k    2k    3k

In [ ]:
n=int(input("how many time you wanna update"))
for i in range(n):
  # Ask user which row (index) they want to update
  row_idx = int(input("\nEnter the row index (0-19) you want to update: "))

  # Ask user which column they want to update
  col_name = input(f"Enter the column to update {list(df.columns)}: ")

  # Ask for the new value
  new_value = input(f"Enter the new value for {col_name}: ")

  # Perform the update
  df.at[row_idx, col_name] = new_value

  print(f"\nAfter updating {col_name} for user at row {row_idx}:")
  print(df)

how many time you wanna update7

Enter the row index (0-19) you want to update: 5
Enter the column to update ['followers', 'users', 'plateform', 'likes_per_user', 'views', 'posts']: plateform
Enter the new value for plateform: facebook

After updating plateform for user at row 5:
   followers         users  plateform likes_per_user views posts
0        10k      shahzaib  instagram             2k    3k     4
1      1000k           ali    twitter              4    5k    7k
2         1k         ahmed     tiktok             4k    1k    2k
3       100k         imran     tiktok              4    5k  500k
4        20k        arslan    youtube           500k  600k    2k
5       200k         nadir   facebook             4k    9k    3k
6       900k        danyal         9k           200k  500k   90k
7        25k         qamar         3k             5k    1k    9k
8        500        nadeem    twitter             5k    6k    7k
9        11k          anas  instagram             3k    1k    4k
10       12k       muzamil         4k             5k     2    3k
11       13k       shahruk  instagram             4k    2k    3k
12       14k        salman         4k             5k    6k    7k
13       15k     babarazam    youtube             4k    2k    6k
14       16k        javeed         9k             4k    1k    6k
15       17k            8k         9k             5k    6k    7k
16       18k    viratkohli         7k             1k    2k    3k
17       19k        keader         4k             5k    7k    1k
18       20k  altafhussain     tiktok             4k    2k    6k
19       21k        imrann   facebook             1k    2k    3k

Enter the row index (0-19) you want to update: 6
Enter the column to update ['followers', 'users', 'plateform', 'likes_per_user', 'views', 'posts']: plateform
Enter the new value for plateform: tiktok

After updating plateform for user at row 6:
   followers         users  plateform likes_per_user views posts
0        10k      shahzaib  instagram             2k    3k     4
1      1000k           ali    twitter              4    5k    7k
2         1k         ahmed     tiktok             4k    1k    2k
3       100k         imran     tiktok              4    5k  500k
4        20k        arslan    youtube           500k  600k    2k
5       200k         nadir   facebook             4k    9k    3k
6       900k        danyal     tiktok           200k  500k   90k
7        25k         qamar         3k             5k    1k    9k
8        500        nadeem    twitter             5k    6k    7k
9        11k          anas  instagram             3k    1k    4k
10       12k       muzamil         4k             5k     2    3k
11       13k       shahruk  instagram             4k    2k    3k
12       14k        salman         4k             5k    6k    7k
13       15k     babarazam    youtube             4k    2k    6k
14       16k        javeed         9k             4k    1k    6k
15       17k            8k         9k             5k    6k    7k
16       18k    viratkohli         7k             1k    2k    3k
17       19k        keader         4k             5k    7k    1k
18       20k  altafhussain     tiktok             4k    2k    6k
19       21k        imrann   facebook             1k    2k    3k

Enter the row index (0-19) you want to update: 7
Enter the column to update ['followers', 'users', 'plateform', 'likes_per_user', 'views', 'posts']: plateform
Enter the new value for plateform: youtube

After updating plateform for user at row 7:
   followers         users  plateform likes_per_user views posts
0        10k      shahzaib  instagram             2k    3k     4
1      1000k           ali    twitter              4    5k    7k
2         1k         ahmed     tiktok             4k    1k    2k
3       100k         imran     tiktok              4    5k  500k
4        20k        arslan    youtube           500k  600k    2k
5       200k         nadir   facebook             4k    9k    3k
6       900k        danyal     tiktok           200k  500k   90k
7        25k         qamar    youtube             5k    1k    9k
8        500        nadeem    twitter             5k    6k    7k
9        11k          anas  instagram             3k    1k    4k
10       12k       muzamil         4k             5k     2    3k
11       13k       shahruk  instagram             4k    2k    3k
12       14k        salman         4k             5k    6k    7k
13       15k     babarazam    youtube             4k    2k    6k
14       16k        javeed         9k             4k    1k    6k
15       17k            8k         9k             5k    6k    7k
16       18k    viratkohli         7k             1k    2k    3k
17       19k        keader         4k             5k    7k    1k
18       20k  altafhussain     tiktok             4k    2k    6k
19       21k        imrann   facebook             1k    2k    3k

Enter the row index (0-19) you want to update: 10
Enter the column to update ['followers', 'users', 'plateform', 'likes_per_user', 'views', 'posts']: plateform
Enter the new value for plateform: youtube

After updating plateform for user at row 10:
   followers         users  plateform likes_per_user views posts
0        10k      shahzaib  instagram             2k    3k     4
1      1000k           ali    twitter              4    5k    7k
2         1k         ahmed     tiktok             4k    1k    2k
3       100k         imran     tiktok              4    5k  500k
4        20k        arslan    youtube           500k  600k    2k
5       200k         nadir   facebook             4k    9k    3k
6       900k        danyal     tiktok           200k  500k   90k
7        25k         qamar    youtube             5k    1k    9k
8        500        nadeem    twitter             5k    6k    7k
9        11k          anas  instagram             3k    1k    4k
10       12k       muzamil    youtube             5k     2    3k
11       13k       shahruk  instagram             4k    2k    3k
12       14k        salman         4k             5k    6k    7k
13       15k     babarazam    youtube             4k    2k    6k
14       16k        javeed         9k             4k    1k    6k
15       17k            8k         9k             5k    6k    7k
16       18k    viratkohli         7k             1k    2k    3k
17       19k        keader         4k             5k    7k    1k
18       20k  altafhussain     tiktok             4k    2k    6k
19       21k        imrann   facebook             1k    2k    3k

Enter the row index (0-19) you want to update: 12
Enter the column to update ['followers', 'users', 'plateform', 'likes_per_user', 'views', 'posts']: plateform
Enter the new value for plateform: tiktok

After updating plateform for user at row 12:
   followers         users  plateform likes_per_user views posts
0        10k      shahzaib  instagram             2k    3k     4
1      1000k           ali    twitter              4    5k    7k
2         1k         ahmed     tiktok             4k    1k    2k
3       100k         imran     tiktok              4    5k  500k
4        20k        arslan    youtube           500k  600k    2k
5       200k         nadir   facebook             4k    9k    3k
6       900k        danyal     tiktok           200k  500k   90k
7        25k         qamar    youtube             5k    1k    9k
8        500        nadeem    twitter             5k    6k    7k
9        11k          anas  instagram             3k    1k    4k
10       12k       muzamil    youtube             5k     2    3k
11       13k       shahruk  instagram             4k    2k    3k
12       14k        salman     tiktok             5k    6k    7k
13       15k     babarazam    youtube             4k    2k    6k
14       16k        javeed         9k             4k    1k    6k
15       17k            8k         9k             5k    6k    7k
16       18k    viratkohli         7k             1k    2k    3k
17       19k        keader         4k             5k    7k    1k
18       20k  altafhussain     tiktok             4k    2k    6k
19       21k        imrann   facebook             1k    2k    3k

Enter the row index (0-19) you want to update: 17
Enter the column to update ['followers', 'users', 'plateform', 'likes_per_user', 'views', 'posts']: plateform
Enter the new value for plateform: facebook

After updating plateform for user at row 17:
   followers         users  plateform likes_per_user views posts
0        10k      shahzaib  instagram             2k    3k     4
1      1000k           ali    twitter              4    5k    7k
2         1k         ahmed     tiktok             4k    1k    2k
3       100k         imran     tiktok              4    5k  500k
4        20k        arslan    youtube           500k  600k    2k
5       200k         nadir   facebook             4k    9k    3k
6       900k        danyal     tiktok           200k  500k   90k
7        25k         qamar    youtube             5k    1k    9k
8        500        nadeem    twitter             5k    6k    7k
9        11k          anas  instagram             3k    1k    4k
10       12k       muzamil    youtube             5k     2    3k
11       13k       shahruk  instagram             4k    2k    3k
12       14k        salman     tiktok             5k    6k    7k
13       15k     babarazam    youtube             4k    2k    6k
14       16k        javeed         9k             4k    1k    6k
15       17k            8k         9k             5k    6k    7k
16       18k    viratkohli         7k             1k    2k    3k
17       19k        keader   facebook             5k    7k    1k
18       20k  altafhussain     tiktok             4k    2k    6k
19       21k        imrann   facebook             1k    2k    3k

Enter the row index (0-19) you want to update: 14
Enter the column to update ['followers', 'users', 'plateform', 'likes_per_user', 'views', 'posts']: plateform
Enter the new value for plateform: instagram

After updating plateform for user at row 14:
   followers         users  plateform likes_per_user views posts
0        10k      shahzaib  instagram             2k    3k     4
1      1000k           ali    twitter              4    5k    7k
2         1k         ahmed     tiktok             4k    1k    2k
3       100k         imran     tiktok              4    5k  500k
4        20k        arslan    youtube           500k  600k    2k
5       200k         nadir   facebook             4k    9k    3k
6       900k        danyal     tiktok           200k  500k   90k
7        25k         qamar    youtube             5k    1k    9k
8        500        nadeem    twitter             5k    6k    7k
9        11k          anas  instagram             3k    1k    4k
10       12k       muzamil    youtube             5k     2    3k
11       13k       shahruk  instagram             4k    2k    3k
12       14k        salman     tiktok             5k    6k    7k
13       15k     babarazam    youtube             4k    2k    6k
14       16k        javeed  instagram             4k    1k    6k
15       17k            8k         9k             5k    6k    7k
16       18k    viratkohli         7k             1k    2k    3k
17       19k        keader   facebook             5k    7k    1k
18       20k  altafhussain     tiktok             4k    2k    6k
19       21k        imrann   facebook             1k    2k    3k

In [ ]:
# Define the new row data
new_followers = "100k"
new_user = "ali"
new_plateform = "instagram"
new_likes_per_user = 7
new_views = "8000"
new_posts = 7

# Create a new row DataFrame
new_row = pd.DataFrame({
    "followers": [new_followers],
    "users": [new_user],
    "plateform": [new_plateform],
    "likes_per_user": [new_likes_per_user],
    "views": [new_views],
    "posts": [new_posts],
})
new_index=len(df)
# Insert the new row at the end of the DataFrame
df = pd.concat([df, new_row], ignore_index=True)

# Print the DataFrame after insertion
print("\nAfter inserting new row:")
print(df)

After inserting new row:
   followers         users  plateform likes_per_user views posts
0        10k      shahzaib  instagram             2k    3k     4
1      1000k           ali    twitter              4    5k    7k
2         1k         ahmed     tiktok             4k    1k    2k
3       100k         imran     tiktok              4    5k  500k
4        20k        arslan    youtube           500k  600k    2k
5       200k         nadir   facebook             4k    9k    3k
6       900k        danyal     tiktok           200k  500k   90k
7        25k         qamar    youtube             5k    1k    9k
8        500        nadeem    twitter             5k    6k    7k
9        11k          anas  instagram             3k    1k    4k
10       12k       muzamil    youtube             5k     2    3k
11       13k       shahruk  instagram             4k    2k    3k
12       14k        salman     tiktok             5k    6k    7k
13       15k     babarazam    youtube             4k    2k    6k
14       16k        javeed  instagram             4k    1k    6k
15       17k            8k         9k             5k    6k    7k
16       18k    viratkohli         7k             1k    2k    3k
17       19k        keader   facebook             5k    7k    1k
18       20k  altafhussain     tiktok             4k    2k    6k
19       21k        imrann   facebook             1k    2k    3k
20       NaN           ali  instagram              7  8000     7
21      100k           ali  instagram              7  8000     7
22      100k           ali  instagram              7  8000     7
23      100k           ali  instagram              7  8000     7
24      100k           ali  instagram              7  8000     7

In [ ]:
index_to_delete = 22 # You can change this to delete other users by index

# Delete the row at the specified index
df = df.drop(index_to_delete)

# Reset the index if necessary
df.reset_index(drop=True, inplace=True)

# Print the DataFrame after deletion
print("\nAfter deleting user at index 22:")
print(df)

After deleting user at index 0:
   followers         users  plateform likes_per_user views posts
0        10k      shahzaib  instagram             2k    3k     4
1      1000k           ali    twitter              4    5k    7k
2         1k         ahmed     tiktok             4k    1k    2k
3       100k         imran     tiktok              4    5k  500k
4        20k        arslan    youtube           500k  600k    2k
5       200k         nadir   facebook             4k    9k    3k
6       900k        danyal     tiktok           200k  500k   90k
7        25k         qamar    youtube             5k    1k    9k
8        500        nadeem    twitter             5k    6k    7k
9        11k          anas  instagram             3k    1k    4k
10       12k       muzamil    youtube             5k     2    3k
11       13k       shahruk  instagram             4k    2k    3k
12       14k        salman     tiktok             5k    6k    7k
13       15k     babarazam    youtube             4k    2k    6k
14       16k        javeed  instagram             4k    1k    6k
15       17k            8k         9k             5k    6k    7k
16       18k    viratkohli         7k             1k    2k    3k
17       19k        keader   facebook             5k    7k    1k
18       20k  altafhussain     tiktok             4k    2k    6k
19       21k        imrann   facebook             1k    2k    3k
20      100k           ali  instagram              7  8000     7
21      100k           ali  instagram              7  8000     7

In [ ]:
# ---- Save the updated DataFrame to CSV ---- #
df.to_csv("data_after_insertion__deletion.csv", index=False)
print("\nUpdated data saved to 'data_after_insertion_deletion.csv'.")

Updated data saved to 'data_after_insertion_deletion.csv'.